/* Estilos para as imagens dos colegas */
.rounded-square {
    width: 150px; /* Tamanho da largura */
    height: 150px; /* Tamanho da altura */
    object-fit: cover; /* Para manter a proporção e cortar a imagem */
    border-radius: 10px; /* Bordas levemente arredondadas */
}

/* Estilos para o texto dos nomes dos colegas */
.colleague-name {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #333; /* Cor do texto */
}

/* Estilos para as imagens do carousel */
.carousel-item img {
    max-width: 40%;
    height: auto;
}

/* Reduzindo o tamanho dos cards do carousel */
.carousel-item {
    max-height: 300px; /* Ajuste conforme necessário */
    overflow: hidden;
}

.carousel-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do carousel */
    height: auto; /* Mantém a proporção da imagem */
    cursor: pointer; /* Cursor indicativo de que é clicável */
}
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .list-group-item img {
    border-radius: 50%;
    align-self: flex-end;
    margin-top: 10px;
    max-width: 100px;
  }
  
  .list-group-item strong {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .list-group-item span {
    margin-bottom: 5px;
  }
  